<div class="container">
    <div class="col-12" style="margin-top: 17rem;">
        <p-breadcrumb  [model]="items" [home]="home"></p-breadcrumb>
        <div class="col-8" style="margin-top: 1rem;display: flex; justify-content: center;">
            <div class="card" style="padding: 2rem;">
                <div>
                    <p-table #dt [columns]="cols" [value]="embalagens" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    &#123;&#123;col.header&#125;&#125;
                                </th>
                                <th style="width: 15%;">
                                   Ações
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of columns">
                                    <p-columnFilter type="text" [field]="col.field" [matchModeOptions]="matchModeOptions" [matchMode]="'custom-equals'"></p-columnFilter>
                                </th>
                            </tr>
                           
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    &#123;&#123;rowData[col.field]&#125;&#125;
                                </td>
                                <td style="cursor: pointer;">
                                    <a class="custom-edit" (click)="editar()" style="margin-right:5px;"><i class="pi pi-pencil"></i></a>
                                    <a class="custom-delete" (click)="excluir()"><i class="pi pi-trash"></i></a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

