
<div class="col-12">
  <div class="container">
    <div class="card">
      <app-legenda></app-legenda>
    </div>
  </div>
  <div class="container">
      <div class="col-12 custom-page" >
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <div style="float: right; margin-bottom: 10px;margin-top: 10px;" class="flex align-items-center justify-content-between">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="termoPesquisa" placeholder="Buscar medicamentos..." (input)="buscarMedicamentos()" />
      </span>
  </div>
   <div style="width: 100%;display: flex;justify-content: center;">
  </div>

  <p-table #dt [value]="receitas" [rows]="10" [paginator]="true" 
       [rows]="5" [showCurrentPageReport]="true"  [rowsPerPageOptions]="rowsPage"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
          <tr>  
              <th  style="min-width:120px">Nome</th>
              <th style="text-align: center;">Embalagens</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-receitas>
          <tr>          
              <td>{{receitas.produto}}</td>
              <td>
                <table>
                  <tr>
                    <td [attr.colspan]="receitas.embalagens.length"  style="border: 1px solid #ccc; width: 35px; text-align: center;" *ngFor="let embalagem of receitas.embalagens">{{ embalagem.sigla }}
                    </td>
                  </tr>
                </table>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
      
      </ng-template>
  </p-table>
</div>

<script>
  const card = document.querySelector('.card');

  window.addEventListener('scroll', function () {
    // Ajusta a posição do card com base no scroll vertical
    const scrollY = window.scrollY;
    card.style.top = `${50 + scrollY * 0.1}%`; // Ajuste o valor 0.1 para controlar a velocidade do movimento
  });
</script>

