.card {
    width: 1080px; /* Ajuste a largura conforme necessário */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

input{
    color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.custom-edit {
 border-radius: 5px;
 padding: 3px;
 transition: background-color 0.3s; 
}

.custom-edit:hover {
  background-color: #F5FF99;
}

.custom-delete {
  border-radius: 3px;
  padding: 3px;
  transition: background-color 0.3s; 
 }
 
 .custom-delete:hover {
   background-color: #ED737B;
 }

 .custom-breadcrumb {
  max-width: 80%;
  margin-top: 50px;
}

.custom-page{
  margin-top: 15vh;
}

@media (min-width: 768px) and (max-height: 600px) {
  .custom-page{
    margin-top: 15vh;
  }
}

.card {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  right: 0;
  width: 15%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-bottom: 10px;
}