<div class="container">
  <div class="col-12">
    <p-breadcrumb  [model]="items" [home]="home"></p-breadcrumb>
    <div class="col-8" style="margin-top: 1rem;">
      <div class="card" style="padding: 2rem;">
        <div class="grid">
          <div style="display: flex; justify-content: center; ">
            <div class="p-fluid card-content">
              <form [formGroup]="form" (ngSubmit)="cadastrar()" autocomplete="off">
                <div class="custom-file-input" style="margin-top: 25px;">
                  <input formArrayName="imagem" #fileInput type="file" (change)="onFileChange($event)" multiple />
                  <span>Escolher Arquivos</span>
                </div>
              
                <!-- Lista de pré-visualização -->
                <div *ngIf="arquivosSelecionados.length > 0" class="gallery" style="margin-top: 15px;">
                  <p>Arquivos Selecionados:</p>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 p-xl-4" *ngFor="let arquivo of arquivosSelecionados">
                      <div class="thumbnail">
                        <img [src]="getImagemUrl(arquivo)" alt="Imagem" />
                        <div class="caption">
                          <button type="button" (click)="removerArquivo(arquivo)">Remover</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-container">
                  <button pButton type="submit" label="Salvar" class="p-button-success"></button>
                  <button pButton type="button" style="margin-left: 5px;" label="Cancelar" class="p-button-danger"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  